body {
      background: #fff;
  }
  @font-face {
      font-family: 'CHINESETAKEAWAY';
      src: url('../assets/CHINESETAKEAWAY.ttf');
  }

  h1 {
      text-align: center;
      color: #00bfff;
      font: CHINESETAKEAWAY;
  }


  .container_border {
      -webkit-box-shadow: 1px 1px 40px #00bfff;
      -moz-box-shadow: 1px 1px 40px #00bfff;
      -ms-box-shadow: 1px 1px 40px #00bfff;
      -o-box-shadow: 1px 1px 40px #00bfff;
      box-shadow: 1px 1px 40px #00bfff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
  }
  #canvas-container {
      position: relative;
      display: none;
      margin: 0 auto;
      width: 1080px;
      height: 720px;
  }
  #menu_btn {
      position: absolute;
      top: 800px;
      left: 600px;
      visibility: hidden;
  }

  #restart_btn {
      position: absolute;
      top: 800px;
      left: 600px;
      visibility: hidden;
  }
  /* Menu Style */
  #menu-container {
      display: block;
      margin: 0 auto;
      width: 1080px;
      height: 720px;
      background-image: url('../imgs/MENU-FUNDO.png');
  }
  #start_btn {
      position: relative;
      top: 510px;
      left:460px;
  }
  #about_btn{
    position: relative;
    top: 580px;
    left:335px;
  }

  /*About Styles*/
  #about-container {
      display: none;
      margin: 0 auto;
      width: 1080px;
      height: 720px;
      background-image: url('../imgs/CREDITOS.jpg');
  }

  /* button styles*/
  .button {
      color: #000000;
      font-size: 50px;
      background: transparent;
      font-family: CHINESETAKEAWAY;
      border: none;
      cursor: pointer;
  }
  .button:hover {
      border: none;
      color: #4F4F4F;
  }
  .button:active  {
      border: none;
  }
  .credits > p {
      font-family: Verdana, Arial, sans-serif;
      color:  #00bfff;
      margin: 5px 0 0 0;
  }
  .text-container {
      font-size: 14px;
      margin: 35px auto;
      width: 600px;
      text-align: center;
  }
